body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    position: relative;
}
.container {
    max-width: 930px;
    margin: auto;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
}
img {
    max-width: 240px;
    height: auto;
    margin: 25px 25px 0px;
}
li {margin-top: 25px;
    color: rgb(41, 96, 179);
    font-weight: bold;
    margin-bottom: 10px;
}
.title {
    font-size: 28px;
    font-weight: bolder;
    margin-right: 25px;
}
.description {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 25px;
}
footer {
    position: absolute;
    bottom: 30px;
    left: 540px;
    color: rgb(141, 138, 138);
    font-size: 18px;
}
i {
    font-size: 13px;
    margin: auto 10px;
}
a {
    color: rgb(141, 138, 138);
}