.clock {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    border: 20px solid #b06a25;
    position: relative;
}
.hour-hand {
    width: 90px;
    height: 10px;
    background: rgb(0, 0, 0);
    border-radius: 999px;
    position: absolute;
    top: 145px;
    left: 145px;
    transform-origin: 0% 50%;
    rotate: -45deg;
}
.minute-hand {
    width: 120px;
    height: 10px;
    background: black;
    border-radius: 999px;
    position: absolute;
    top: 145px;
    left: 145px;
    transform-origin: 0% 50%;
    rotate: 30deg;
    animation: rotateMinute linear 10s;
}
@keyframes rotateMinute {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    }
}
.center {
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background-color: #b06a25;
    position: absolute;
    top: 140px;
    left: 140px;
}
