* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 14fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "header header"
    "main emty"
    "footer footer";
}
header {
    background-color: #333333;
    color: white;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
        padding: 0 15px;
    }
}
h1 {
    font-size: 22px;
}
main {
    margin-left: 150px;
    grid-area: main;
    display: grid;
    grid-template-rows: 4fr 6fr;

}
.featured {
    background-color: #f4f4f4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
    a {
        text-decoration: none;
        color: rgb(32, 143, 183);
    }
    
}
.other-posts {
    background-color: #f9f9f9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
}
.emty {
    grid-area: emty;
    background-color: white;
}

footer {
    background-color: #333333;
    color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}